# -----------------------------
# PYTHON
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# entorno virtual
.venv/
venv/

# -----------------------------
# CONFIGURACIONES LOCALES
# -----------------------------
lamp_names.json
lamp_ips.txt
lamp_ips - copia.txt
lamp_groups.json
lamps_config.json

# Escenas y proyectos locales
#escenas.json
#proyectos.json

# -----------------------------
# COPIAS / BACKUPS LOCALES
# -----------------------------
* - copia*.py
backups/
tablero/backup/

# -----------------------------
# SISTEMA / OS
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# VSCODE
# -----------------------------
.vscode/

# -----------------------------
# LOGS / DEBUG
# -----------------------------
*.log

# -----------------------------
# ARCHIVOS TEMPORALES
# -----------------------------
*.tmp
